<div class="col-sm-4 col-lg-4 col-md-4">
  <%= link_to movie_path(movie) do %>
      <div class="thumbnail">
        <img src="<%= "https://img.youtube.com/vi/" + movie.url + "/0.jpg" %>" alt="<%= movie.title %>">
        <div class="caption">
          <h4><%= link_to movie.title, movie_path(movie) %></h4>
          <p><%= h truncate(movie.text, :length => 78) %></p>
        </div>
      </div>
  <% end %>
</div>
