<div class="row">

  <div class="col-md-3">
    <p class="lead">Videos</p>
    <div class="list-group">
      <%= link_to 'Add a video', new_movie_path, class: "list-group-item" %>
    </div>

    <br>

    <p class="lead">Movies Categories</p>
    <div class="list-group">
      <a href="#" class="list-group-item">Category 1</a>
      <a href="#" class="list-group-item">Category 2</a>
      <a href="#" class="list-group-item">Category 3</a>
    </div>
  </div>

  <div class="col-md-9">

    <div class="row">

      <% @movies.each do |movie| %>
          <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
              <img src="<%= format_youtube_thumbnail(movie.url) %>" alt="<%= movie.title %>">
              <div class="caption">
                <h4><%= link_to movie.title, movie_path(movie) %></h4>
                <p><%= link_to 'Edit', edit_movie_path(movie) %></p>
                <p><%= link_to 'Delete', movie_path(movie), method: :delete, data: {confirm: 'Are you sure?'} %></p>
                <p><%= movie.text %></p>
              </div>
              <!--<div class="ratings">
                <p class="pull-right">15 reviews</p>
                <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star-empty"></span>
                </p>
              </div>-->
            </div>
          </div>
      <% end %>

    </div>

  </div>

</div>
