<div class="row">

  <div class="col-md-3">
    <p class="lead">Videos</p>
    <div class="list-group">
      <%= link_to edit_movie_path(@movie), class: "list-group-item" do %>
          <i class="glyphicon glyphicon-pencil text-warning"></i> Edit
      <% end %>
      <%= link_to movie_path(@movie), method: :delete, data: {confirm: 'Are you sure?'}, class: "list-group-item" do %>
          <i class="glyphicon glyphicon-trash text-danger"></i> Delete category
      <% end %>
      <%= link_to category_path(@movie.category_id), class: "list-group-item" do %>
          <i class="glyphicon glyphicon-menu-left text-primary"></i> Back to category
      <% end %>
    </div>

    <br>

    <%= render 'categories' %>

  </div>

  <div class="col-md-9">

    <div class="thumbnail">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="830" height="300" src="<%= @movie.url %>" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="caption-full">
        <h4><%= @movie.title %></h4>
        <p><%= @movie.text %></p>
      </div>
      <!--<div class="ratings">
        <p class="pull-right">3 reviews</p>
        <p>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          4.0 stars
        </p>
      </div>-->
    </div>

    <div class="well">

      <%= render 'comments/form' %>

      <br>

      <hr>

      <%= render @movie.comments %>

    </div>

  </div>

</div>
