<div class="row">

  <div class="col-md-3">
    <p class="lead">Movies Categories</p>
    <div class="list-group">
      <a href="#" class="list-group-item active">Category 1</a>
      <a href="#" class="list-group-item">Category 2</a>
      <a href="#" class="list-group-item">Category 3</a>
    </div>

    <%= link_to 'Edit', edit_movie_path(@movie) %> |
    <%= link_to 'Back', movies_path %>
  </div>

  <div class="col-md-9">

    <div class="thumbnail">
      <iframe width="800" height="300" src="<%= @movie.url %>" frameborder="0" allowfullscreen></iframe>
      <div class="caption-full">
        <h4><%= @movie.title %></h4>
        <p><%= @movie.title %></p>
      </div>
      <!--<div class="ratings">
        <p class="pull-right">3 reviews</p>
        <p>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          4.0 stars
        </p>
      </div>-->
    </div>

    <div class="well">

      <%= render 'comments/form' %>

      <hr>

      <%= render @movie.comments %>

    </div>

  </div>

</div>
