<%= form_for @category, :html => {:class => 'form-inline'} do |f| %>
    <div class="form-group">
      <%= f.label :title, 'Category title', :class => 'sr-only' %>
      <%= f.text_field :title, :class => 'form-control', :placeholder => 'Category title'  %>
    </div>

    <%= f.submit 'submit', :class => 'btn btn-success' %>
    <% if @category.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @category.errors.full_messages.each do |msg| %>
                <li class="text-white"><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<% end %>