<div class="row">
  <div class="col-md-3">
    <p class="lead"><%= @category.title %></p>

    <div class="list-group">
      <%= link_to 'Edit category', edit_category_path(@category), class: "list-group-item" %>
      <%= link_to 'Delete category', category_path(@category), method: :delete, data: {confirm: 'Are you sure?'}, class: "list-group-item" %>
      <%= link_to 'Back to categories', categories_path, class: "list-group-item" %>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <%= render @category.movies %>
    </div>
  </div>
</div>
